@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .custom-bg {
    background-color: #0a192f;
    color: rgb(136 146 176);
  }
  .bg-color {
    background-color: #0a192f}
  .specific-color {
    color: rgb(63, 193, 163);
  }
  .text-color {
    color: rgb(136 146 176);
  }
  /* Mobile Menu Styling */
  @media screen and (min-width: 320px) {
    .mobile-screen {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      position: absolute;
      top: 100%;
      right: 0;
      padding: 16px;
    }

    .mobile-screen li {
      padding: 10px 0;
    }
  }
}
